{{#partial "title"}}
    Account form
{{/partial}}

{{#partial "content"}}
    <form action="." method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <label for="description">Description</label>
        <textarea id="description" name="description"></textarea>
    </form>
{{/partial}}

{{> layout}}
