html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

hr {
  color: white; }

* {
  box-sizing: border-box; }

header {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  vertical-align: bottom;
  padding: 0 2ch;
  height: 2em;
  line-height: 2;
  position: sticky;
  top: 0;
  box-shadow: 0 0 3px black;
  z-index: 3; }

header > * {
  padding: 0 1ch; }

header > .separator {
  flex-grow: 1; }

header h1, header h2 {
  font-size: 1em;
  margin: 0; }

header a {
  text-decoration: none;
  padding: 0 1ch;
  display: inline-block; }
  header a, header a:visited {
    color: white; }

header a:hover {
  background-color: #666; }

main {
  width: 90vw;
  margin: 1em auto auto; }

.subnav {
  border-bottom: 1px solid #eee;
  margin-bottom: 2em;
  padding-bottom: 0.3em; }
  .subnav > ul {
    margin: 0;
    padding: 0; }
    .subnav > ul > li {
      display: inline-block; }
      .subnav > ul > li::after {
        content: ' | '; }
      .subnav > ul > li:last-child::after {
        content: ''; }

footer {
  margin-top: 1em;
  padding: 0 2ch; }

table {
  /*table-layout: fixed;*/
  border-collapse: collapse; }

table:not(.fluid) {
  width: 100%; }

table.fluid th {
  padding: 0 1ch; }

table.fluid th:not(:last-child), table.fluid td:not(:last-child) {
  border-right: 1px dashed #999; }

table th .filter {
  display: inline-block;
  padding: 0.1em 0.5ch;
  color: white;
  background-color: #666666;
  border-radius: 2px;
  text-decoration: none; }
  table th .filter.active {
    background-color: black; }

thead > tr {
  position: sticky;
  top: 2em;
  background-color: white;
  box-shadow: 0 2px 0 -1px gray;
  z-index: 2; }

.border-top-bold {
  border-top: 3px solid #444; }

tr:nth-child(2n) {
  background-color: #eee; }

td {
  border-top: 1px solid #ddd;
  padding: 0.2em 1ch; }

.form-grid {
  display: grid;
  grid-template: auto / 30ch 40ch; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.monospace {
  font-family: monospace; }

.w-auto {
  width: auto; }

.m-auto {
  margin: auto; }

.bold {
  font-weight: bold; }

.red {
  color: #c00; }

.bg-light-red {
  background-color: #fdd; }
  .bg-light-red:nth-child(2n) {
    background-color: #fbb; }

.break-words {
  word-break: break-word; }

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .flex > * {
    flex: 1; }
  .flex.horizontal {
    margin-bottom: 3em; }
    .flex.horizontal > * {
      margin-right: 0.5ch;
      margin-left: 0.5ch; }

.text-big {
  font-size: 2em; }

@media (max-width: 800px) {
  .flex {
    flex-direction: column; }
  .flex.horizontal > * {
    width: 100%;
    margin-bottom: 2ch;
    margin-top: 2ch; }
  header {
    width: 100vw;
    height: unset;
    position: unset;
    padding: 0;
    flex-wrap: wrap; }
  main {
    width: 99%; }
  thead > tr {
    top: 0; } }
