.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.monospace {
  font-family: monospace;
}

.w-auto {
  width: auto;
}

.m-auto {
  margin: auto;
}

.bold {
  font-weight: bold;
}

.red {
  color: #c00;
}

tr.bg-light-red:nth-child(2n) td {
  background-color: #fbb;
}

.bg-light-red {
  background-color: #fcc;
}

.flex {
  display: flex;
  //align-content: center;
  align-items: center;
  justify-content: space-evenly;

  > * {
    flex: 1;
  }

  &.horizontal {
    margin-bottom: 3em;
  }
}

.text-big {
  font-size: 2em;
}
