.flex {
  flex-direction: column;
}

.flex.horizontal > * {
  width: 100%;
  margin-bottom: 2ch;
  margin-top: 2ch;
}

header {
  width: 100vw;
  height: unset;
  position: unset;
  padding: 0;

  flex-wrap: wrap;
}

main {
  width: 99%;
}

thead > tr {
  top: 0;
}
