table {
  width: 100%;
  /*table-layout: fixed;*/
  border-collapse: collapse;
}

thead > tr {
  position: sticky;
  top: 2em;
  background-color: white;
  box-shadow: 0 2px 0 -1px gray; // using a box-shadow because the border disappears on scroll
  z-index: 2; // the box-shadow goes above the table content, working like a border
}

tr:nth-child(2n) td {
  background-color: #eee;
}

td {
  border-top: 1px solid #ddd;
  padding: 0.2em 1ch;

  .adaptable {
    word-break: break-word;
  }
}
