table {
  width: 100%;
  /*table-layout: fixed;*/
  border-collapse: collapse;
}

table th .filter {
  display: inline-block;
  padding: 0.1em 0.5ch;

  color: white;
  background-color: #666666;
  border-radius: 2px;
  text-decoration: none;

  &.active {
    background-color: black;
  }
}

thead > tr {
  position: sticky;
  top: 2em;
  background-color: white;
  box-shadow: 0 2px 0 -1px gray; // using a box-shadow because the border disappears on scroll
  z-index: 2; // the box-shadow goes above the table content, working like a border
}

.border-top-bold {
  border-top: 3px solid #444;
}

tr:nth-child(2n) td {
  background-color: #eee;
}

td {
  border-top: 1px solid #ddd;
  padding: 0.2em 1ch;

  .adaptable {
    word-break: break-word;
  }
}
