{{#partial "title"}}
    LgHS Accounting Application
{{/partial}}

{{#partial "content"}}
    hello world
    {{#logged}}
        <a href="/app">Go to app</a>
    {{else}}
        <a href="/login">login</a>
    {{/logged}}
{{/partial}}

{{> layout}}
