<!doctype html>
<html lang="en">
    <head>
        <link href="/public/main.css" rel="stylesheet">
        <title>{{#block "title"}}{{/block}} | LgHS Compta</title>
    </head>
    <body>
        <header>
            <h1><a href="/">LgHS Accounting</a></h1>
            <span> > </span>
            <h2>{{#block "title"}}{{/block}}</h2>
            <div class="separator"></div>
            <nav>
                <a href="/app">Dashboard</a>
                <a href="/app/accounts">Accounts</a>
                <a href="/app/codas">Codas</a>
                <a href="/app/movements">Movements</a>
            </nav>
        </header>
        <main>
            {{#block "content"}}{{/block}}
        </main>
        <footer>
            Connected as {{#user}}{{/user}}
        </footer>
    </body>
</html>
