<!doctype html>
<html lang="en">
    <head>
        <title>{{#block "title"}}{{/block}} | LgHS Compta </title>
    </head>
    <body>
        <header>
            <h1><a href="/">LgHS Accounting</a></h1>
            <h2>{{#block "title"}}{{/block}}</h2>
        </header>
        <main>
            <nav>
                <a href="/app/accounts">Accounts</a>
                <a href="/app/codas">Codas</a>
                <a href="/app/movements">Movements</a>
            </nav>
            {{#block "content"}}{{/block}}
        </main>
        <footer>
            Connected as {{#user}}{{/user}}
        </footer>
    </body>
</html>
