<!doctype html>
<html lang="en">
    <head>
        <title>{{#block "title"}}{{/block}} | LgHS Compta </title>
    </head>
    <body>
        <header>
            <h1>{{#block "title"}}{{/block}}</h1>
        </header>
        <main>
            {{#block "content"}}{{/block}}
        </main>
    </body>
</html>
