{{#partial "title"}}
    Account list
{{/partial}}

{{#partial "content"}}
    <a href="/app/accounts/new">Create account</a>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        </thead>
        <tbody>
        {{#each accounts}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
            </tr>
        {{else}}
            <tr>
                <td colspan="2">no data yet</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/partial}}

{{> layout}}
