{{#partial "title"}}
    LgHS Accounting Application
{{/partial}}

{{#partial "content"}}
    <h3>Dashboard</h3>
    <section>
        <h4>Legal summary per year</h4>
        <pre>{{legalSummary}}</pre>
    </section>
{{/partial}}

{{> layout}}
