{{#partial "title"}}
    Dashboard
{{/partial}}

{{#partial "content"}}
    <section style="text-align: center">
        <img src="/app/rolling-sum"
             width="1080"
             onload="this.style.width = 'unset'; this.style.maxWidth = '100%'; this.style.minHeight = '50vh'"
             alt="Graph of the amount of money in the HS accounts">
    </section>
    <section style="text-align: center; margin-top: 1em;">
        <img src="/app/credits-per-day"
             width="1080"
             onload="this.style.width = 'unset'; this.style.maxWidth = '100%'; this.style.minHeight = '50vh'"
             alt="Graph of the amount of money entering HS accounts per day">
    </section>
    <section style="text-align: center">
        <h4>Legal summary per year</h4>
        <pre>{{legalSummary}}</pre>
    </section>
{{/partial}}

{{> layout}}
