{{#partial "title"}}
    LgHS Accounting Application
{{/partial}}

{{#partial "content"}}
    <a href="/app/accounts">Account listing</a>
    This is the main dashboard of the application.
{{/partial}}

{{> layout}}
