{{#partial "title"}}
    LgHS Accounting Application
{{/partial}}

{{#partial "content"}}
    <h3>Dashboard</h3>
    <section style="text-align: center">
        <img src="/app/rolling-sum"
             width="1080"
             alt="Graph of the amount of money in the HS main account">
    </section>
    <section>
        <h4>Legal summary per year</h4>
        <pre>{{legalSummary}}</pre>
    </section>
{{/partial}}

{{> layout}}
