{{#partial "title"}}
    Dashboard
{{/partial}}

{{#partial "content"}}
    <div class="flex horizontal">
        <img src="/app/rolling-sum"
             class="card"
             alt="Graph of the amount of money in the HS accounts">
        <img src="/app/credits-per-day"
             class="card"
             alt="Graph of the amount of money entering HS accounts per day">
    </div>

    <div class="flex horizontal">
        <section class="card align-center">
            <span class="text-big">
                We have money left for
                <span class="bold{{#lt monthsLeft 5 }} red{{/lt}}">
                    {{monthsLeft}}
                </span>
                months
            </span>
        </section>
        <section class="card align-center">
            <h4>Legal summary per year</h4>
            <pre>{{legalSummary}}</pre>
        </section>
    </div>

{{/partial}}

{{> layout}}
