{{#partial "title"}}
    LgHS Accounting Application
{{/partial}}

{{#partial "content"}}
    <h2>Dashboard</h2>
    <section>
        <h3>Legal summary per year</h3>
        <pre>{{legalSummary}}</pre>
    </section>
{{/partial}}

{{> layout}}
