<!doctype html>
<html lang="en">
<head>
    <title>Accounting</title>
</head>
<body>
    <main>
        <h1>LgHS Accounting Application</h1>
        This is the main dashboard of the application.
    </main>
</body>
</html>
