{{#partial "title"}}
    Coda list
{{/partial}}

{{#partial "content"}}
    <a href="/app/codas/new">Upload coda</a>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>filename</th>
        </tr>
        </thead>
        <tbody>
        {{#each codas}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.filename}}</td>
            </tr>
        {{else}}
            <tr>
                <td colspan="2">no data yet</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/partial}}

{{> layout}}
